.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-top:10px;
  transition: ease-in-out 1.5s;
}

.row {
  display: flex;
  margin-bottom: -19px;

  &:nth-child(even) {
    transform: translateX(41px) translateY(-0px);
  }
}

.letterIcon {
  color: #c90404
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 76px;
  margin: 0px -24px;
  background: var(--gradient_cell);
  clip-path: polygon(50% 0%, 80% 25%, 80% 75%, 50% 100%, 20% 75%, 20% 25%);
  border: 5px solid transparent;
  font-size: large;
  cursor: pointer;
  backdrop-filter: blur(8px) saturate(150%);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  &.selected {
    border: 5px solid lightcoral;
    transition: ease-in-out 0.3s;
    font-size: larger;
  }

  &:hover {
    animation: pulse 2s infinite;
  }
}

@media only screen and (max-width: 1200px) {
  .cell {
    width: 100px;
    height: 60px;
    font-size: x-small;
    margin: 2px -20px;
  }

  .row {
    display: flex;
    margin-bottom: 0 0 -20px 0;

    &:nth-child(even) {
      transform: translateX(35px) translateY(0px);
    }
  }
  .middleCell,
  .aroundMiddleCell {
    font-size: medium;
  }
}

@media only screen and (max-width: 1000px) {
  .cell {
    width: 80px;
    height: 52px;
    font-size: small;
    margin: 2px -17px;

    &.selected {
      font-size: small;
    }
  }

  .row {
    display: flex;
    margin-bottom: -18px;

    &:nth-child(even) {
      margin-left: -18px;
      transform: translateX(37px) translateY(0px);
    }
  }
}

@media only screen and (max-width: 800px) {
  .cell {
    width: 60px;
    height: 37px;
    font-size: x-small;
    margin: 2px -13px;

    &.selected {
      font-size: x-small;
    }
  }

  .row {
    display: flex;
    margin-bottom: -15px;

    &:nth-child(even) {
      margin-left: -28px;
      transform: translateX(36px) translateY(0px);
    }
  }

  .middleCell,
  .aroundMiddleCell {
    text-align: center;
    font-size: x-small ;
  }
}

.middleCellBackground {
  background: var(--gradient_middle_cell);
}

.aroundMiddleCellBackground {
  background: var(--gradient_around_cell);
}

.middleCell,
.aroundMiddleCell {
  /* width: 29px; */
  /* height: auto; */
  text-align: center;
}

.aroundMiddleCell {
  color: rgb(255, 119, 0);
  animation: rotate 0.5s ease-in-out;
}

.middleCell {
  color: red;
}

@keyframes rotate {
  0% {
    color: rgb(201, 4, 4);
    border: none;
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes pulse {
  0% {
    background: var(--cell_background);
  }

  50% {
    background: rgb(247, 224, 202);
  }

  100% {
    background: var(--cell_background);
  }
}